# Compiled Object files
*.slo
*.lo
*.o
# Permitir objetos .obj que sean graficos
# .obj
**/obj/[Dd]ebug/**
**/obj/[Rr]elease/**
**/[Dd]ebug/**
**/[Rr]elease/**

# objectos de eclipse
.metadata
RemoteSystemsTempFiles

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
